/* body {
    background-image: url('https://phonoteka.org/uploads/posts/2022-02/thumbs/1644338164_3-phonoteka-org-p-sinii-fon-dlya-montazha-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
} */

.text {
  color: blue;
}

.titletext {
  font-size: x-large;
}
